body{
	margin: 0;
	padding: 0;
	background-image: url("https://i.playground.ru/p/6LKMu4OLtvnuzmxXeepa-Q.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#container{
	margin: 0 auto;
	width: 1200px;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

#container > div{
	display: flex;
	flex-grow: 1;
}

.header, .footer{
	background-color:#142046FF; 
	opacity: 0.9;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header > div{
	height: 100%;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 2;
}

.logo > a{
	transform: rotate(-9deg);
	border: none;
	font-family: 'Comforter Brush', cursive;
	font-size: 70px;
}

.menu{
	flex-grow: 3;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.menubar{
	margin: 5px;
	display: flex;
	height: fit-content;
	width: fit-content;
	justify-content: space-around;
}

a{
	margin: 0 5px;
	padding: 2px 10px;
	font-size: 32px;
	width: fit-content;
	height: fit-content;
	border: 1px solid #358B9EFF;
	border-radius: 5px;
	text-decoration: none;
	color: #358B9EFF;
}

a:hover{
	border-color: #00E0D0FF;
	color:  #00E0D0FF;

}

.my_page{
	border-color: #00E0D0FF;
	color: #00E0D0FF;
}

.content{
	height: fit-content;
	display: flex;
	justify-content: space-around;
	background-color: #202020FF;
	opacity: 1;
	flex-wrap: wrap;
	border: 1px solid #00E0D0FF;
	padding: 15px;
}

h1{
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	color: white;
}

h4{
	
	height: fit-content;
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: justify;
}

.section1 > img{
	float: left;
	width: 300px;
	margin: 5px;
}

p{
	text-align: justify;
	margin: 5px;
	font-size: 25px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

li{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-size: 20px;
}


.inside_footer{
	height: 100%;
	width: 70%;
	

	border: 1px solid #00E0D0FF;
	border-top: none;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.inside_footer > a{
	margin: 0 5px;
	padding: 2px;
	font-size: 16px;
	border: none;
}

.inside_footer > a:hover{
	margin: 2px;
	border: 1px solid #00E0D0FF;
}

